
span.kage {
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    transform: translateY(0.1em);
    width: 1em;
    height: 1em;
    overflow: hidden;
    line-height: 0%;
    color: transparent;
}

img.kage, svg.kage {
    display: inline-block;
    height: 1.125em;
    width: auto;
    transform: translateY(0.125em);
}

img.compose, svg.compose {
    display: inline-block;
    height: 1.125em;
    width: auto;
    transform: translateY(0.125em);
}
