
span.kage {
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: black;
    display: inline-block;
    transform: translateY(0.15em);
    width: 1.15em;
    height: 1.15em;
    overflow: hidden;
    line-height: 0%;
    color: transparent;
}

img.kage, svg.kage {
    display: inline-block;
    height: 1.125em;
    width: auto;
    transform: translateY(0.125em);
}

img.compose, svg.compose {
    display: inline-block;
    height: 1.125em;
    width: auto;
    transform: translateY(0.125em);
}
